{%load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>EduWell - Education HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'app/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/templatemo-eduwell-style.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'app/contact.css' %}">

    <!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="{% url 'landing' %}" class="logo">
                          <img src="{% static 'app/assets/images/templatemo-eduwell.png' %}" alt="EduWell Template" width="60" height="60">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'index' %}" class="active">Scholarships</a></li>
                          <li><a href = "{% url 'contact'%}">Give Scholarship</a></li>
                          <li><a href="{% url 'about' %}">About Us</a></li>
                          <li><a href="{% url 'contact'%}">Contact Us</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <form action="" method = "post">
                {% csrf_token %}
                {{ form }}
                <button class="btn"><input class="input" type = "submit" value = "Submit"><h2>Submit</h2></button>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

<footer>Copyright © 2022 EduWell Co., Ltd. All Rights Reserved.</footer>   

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'app/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'app/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'app/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'app/assets/js/tabs.js' %}"></script>
    <script src="{% static 'app/assets/js/video.js' %}"></script>
    <script src="{% static 'app/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'app/assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
<footer style="    margin-top: 20px;
left: 0;
bottom: 0;
width: 100%;
text-align: center;">Made with ❤️ at VIT Bhopal @2022</footer>
</html>