{%load static %}
<!DOCTYPE html>
<head><title>AcadShip</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>
    <header>
        <div class="name">
            <a href = "{% url 'index' %}"><img  href = "{% url 'index' %}" class="logo" src="{% static 'app/images/Acadship.png' %}" alt="logo">
            <a href = "{% url 'index' %}"><h1 href = "{% url 'index' %}">Acadship</h1></a>
        </div>
        <div class="left">
            <form name="search">
                <input class="search" name="search">
                <button>Search</button>
            </form>
            <a href="#">About us</a>
        </div>
    </header>
    <h1>Thank you for your inquiry</h1>
<p>Your contact information and message was successfully submitted.</p>
</body>
<footer style="    margin-top: 20px;
left: 0;
bottom: 0;
width: 100%;
text-align: center;">Made with ❤️ at VIT Bhopal @2022</footer>
</html>